.speaker-preview {
    display: flex;
    flex-direction: row;
    gap: 15px;
    justify-content: center;
    .speaker {
        width: 20vw;
        .speaker-avatar {
            height: 150px;
            width: 150px;
            border-radius: 50%;
        }
        
        .speaker-details {
            display: flex;
            flex-direction: column;
            justify-content: center;

            .speaker-name {
                font-size: 3rem;
            }

            .speaker-role {
                font-size: 1.8rem;
                font-style: italic;
            }

            .speaker-compagny {
                max-height: 55px;
                margin: {
                    top: 15px;
                    bottom: 15px;
                }

                img {
                    height: 50px;
                    margin: unset;
                }
            }

            .speaker-city {
                font-size: 1.6rem;
            }
        }
    }
}

.quick-summary-preview-container {
    display: flex;
    justify-content: center;
    gap: 1vw;

    .quick-summary-preview {
        width: 25vw;
        height: 40vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        img {
            max-width: 300px;
        }
    }

    .start {
        height: 35vh;
        width: 20vw;
    }

    .middle {
        width: 20vw;
    }

    .end {
        img {
            max-width: 250px;
        }
    }
}

.tittle-up {

}

.citation{
    font-style: italic;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
}

// Overide global style
:root {
    --r-background-color: #f0f0ef;
    --r-main-color: #787878;
    --r-heading-color: #e79759;
    --r-link-color: #153650;
}